{
  "extends": [
		"react-native-wcandillon",
		"prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
	],
	"globals": {
    "LOG": true,
    "WARN": true,
    __DEV__: true,
  },
  "rules": {
    camelcase: ["error", {
      allow: [
        "message_id",
      ]
    }],
  },
}