<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>360680446899-cgcg83qq2155hn5vq8naes2satj4d3om.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.360680446899-cgcg83qq2155hn5vq8naes2satj4d3om</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>360680446899-34f49i4u64j6tjplgmrlcb8p4jtl1t5j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCP4v9CfK2lfiWIZa8H6frdSzPzz6L0RaY</string>
	<key>GCM_SENDER_ID</key>
	<string>360680446899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cru.voke</string>
	<key>PROJECT_ID</key>
	<string>voke-6ee71</string>
	<key>STORAGE_BUCKET</key>
	<string>voke-6ee71.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:360680446899:ios:041208d710a186ed</string>
	<key>DATABASE_URL</key>
	<string>https://voke-6ee71.firebaseio.com</string>
</dict>
</plist>